html {
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: var(--font-poppins);
  overflow: hidden;
}

.PreText {
  white-space: pre-line;
}

.os-theme-body {
  --os-size: 7px;
}

.os-theme-body .os-scrollbar-handle {
  background: $alpha;
  border-radius: 0px;
  height: 85px;
}

.os-theme-body .os-scrollbar-track {
  background: transparent;
}

h1 {
  font-size: clamp(17px, 2.5vw, 19px);
  color: $white;
}

.hr-container {
  max-width: 280px;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 12px;
  user-select: none;
  background-color: $bravo;
}

#canvas-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 280px;
  aspect-ratio: 1 / 1;
}

#canvas-wrapper .quad {
  border: none;
  touch-action: none;
  cursor: crosshair;
  image-rendering: pixelated;
  width: 50%;
  height: 50%;
  --stroke-color: #{$white};
  background-color: $bravo;
}

#canvas-wrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  background-image:
    linear-gradient(to right, gray 2px, transparent 2px), linear-gradient(to bottom, gray 2px, transparent 2px);
  background-size: 50% 50%;
  z-index: 2;
}

#canvas-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  background-image:
    linear-gradient(to right, transparent 50%, gray 2px, transparent 50%),
    linear-gradient(to bottom, transparent 50%, gray 2px, transparent 50%);
  background-size:
    100% 100%,
    100% 100%;
  border-right: 2px solid gray;
  border-bottom: 2px solid gray;
  z-index: 2;
}

.output-container {
  padding: 25% 50%;
  position: relative;
  max-width: 204px;
  border-radius: 5px;
  overflow: hidden;
}

.label-grid {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  img {
    width: 50%;
  }
}

.button {
  width: 80px;
  font-size: 12px;
}

.alert-success {
  font-size: 12px;
}
